<div class="row">
  <div class="col-xs-12">
    <div class="wellhead-main">
        <h4>Dogparc Community</h4>
      </div>
    <div class="well" id="intro">
    
    <p>In order to be listed, users must have a full account, fill out a profile, and be local to Denver.</p>
    
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <% if user.profile %>

        <li>

          <div class="well" id="user">

            <div class="col-sm-3">
              <% if user.profile.avatar %>
                <%= link_to user do %>
                    <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                  <% end %>
                <% end %>
              </div>

            <div>
              <%= link_to user do %>
                <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
              <% end %>
              <p>
                <%= user.profile.job_title %> 
              </p>
            </div>

          </div>

        </li>

        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>