<div class="row">
  <div class="col-xs-12">
    <div class="well">

      <div class="row">
        
        <div class="col-sm-3">
          <div class="profimg"><%= image_tag @user.profile.avatar.url %></div>
        </div>

        <div class="col-sm-9" id="proftop">
          <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
          <h3>
              <%= @user.profile.job_title %><br/>
          </h3>
      
          <% if current_user.plan_id == 2 %>
            <h4><%= @user.profile.phone_number %><br/></h4>
            <h4><%= @user.profile.contact_email %><br/></h4>
          <% end %>
        </div>

        <div class="col-sm-9 col-sm-offset-3">
          <div class="well" id="profdesc">
            <%= @user.profile.description %>
          </div>
        </div>
    
      </div>

    </div>
  </div>
</div>